body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

body
{
  font-size: 12pt;
}
#formFooter
{
  font-size: 8pt;
}

#formFooter, .left
{ 
  padding: 5px;
  text-align: left ;
  width:33%;
}
#formFooter, .right
{ 
  padding: 5px;
  text-align: right ;
  width:33%;
}
#formFooter, .center
{ 
  padding: 5px;
  text-align: center ;
}



#client
{
  padding: none;
  margin-top: 0;
  border: none;
  float:left;
}

#clientFrame
{
  padding: none;
  border: none;
}

#meeting
{ 
  padding: none;
  background-color: #EAEAEA;
  border: none;
  float:right;
}

#meetingFrame
{ 
  padding: none;
  margin: 10px; 
}
