body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

body
{
  font-size: 10pt;
}
#formFooter 
{
  font-size: 8pt;
  width: 100%;
}

#formFooter, .left
{ 
  padding: 5px;
  text-align: left ;
  width:33%;
}
#formFooter, .right
{ 
  padding: 5px;
  text-align: right ;
  width:33%;
}
#formFooter, .center
{ 
  padding: 5px;
  text-align: center ;
}



#client {
  padding: none;
  margin-top: 0;
  border: none;
  float: left;
  background-color:#EAEAEA;
}

#clientFrame {
  margin: 0;
  padding: 0;
  border: none;
  border: none;
}

#meeting {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #EAEAEA;
  float: right;
}

whereby-embed,
#whereby,
#meetingFrame {
  padding: none;
  margin: 10px;
  height: 700;
  width: 200;
}
