/* @overide https://www1.evado.com/test/css/menu.css */

#tdMenu
{
  background: url(30grad.png) repeat-x 0 5px;
}

/* zeroing padding/margin for all elements */
#Main_Menu,
#Main_Menu *  
{
  margin:0;
  padding:0;
  z-index: 1;
  /* font-size: 12pt;*/
}
/* "Master" UL (the whole Menu) */
#Main_Menu 
{
  position:relative;
  width: 175px;
  float:right;
  margin:0; 
  /* font-size: 12pt;*/  
  margin-right: 5px;
}
/* sub-menu ULs */
#Main_Menu li ul 
{
  cursor:default;
  position:absolute;
  height:auto;
  display:none;
  margin:0;
  padding:0;
}
/* All LIs */
#Main_Menu li 
{ 
  margin:0;
  padding:0;
  float:right;  
  width:100%;
  cursor:pointer;
  list-style-type:none;
  font-weight:bold;
  padding:3px;
  text-align:center; 
}
/* sub-menu LIs */
#Main_Menu li ul li 
{
  margin:0;
  padding: 0;
  float:right;  
  width:100%;
  border:none;
  list-style-type:none;
  text-align: left;
  margin-top: -5px;
  margin-bottom: 5px;
}
/* All anchors */
#Main_Menu li a , #Main_Menu li ul li a
{
  cursor:default;
  color:#666;
  width:98%;
  text-decoration:none;
  text-align: left;
  float:left;
  padding: 2px ;
  height:2em;
  line-height:2em;
  border: 1px solid #ebebeb;
  border: none;
  height: 50px;
  vertical-align:middle;
}
#Main_Menu li a 
{
  text-align:right;
}
/* sub-menu Anchors */
#Main_Menu li ul li a
{
  width: 98%;
  padding: 5px 5px 5px 12px;
  font-weight: normal;
  color: #666;  
  background: #ebebeb;
  border: 0;
}
/* :hover and stuff */
#Main_Menu li a:hover, #Main_Menu li a:focus, #Main_Menu li a:active
{
  color: #000000;
}

/* move the declarations from the rule below the one above if you want a background swap on *all* anchors, including the top level ones */
#Main_Menu ul a:hover, #Main_Menu ul a:focus, #Main_Menu ul a:active
{
  color: #ffffff;
  background: #b72521;
}

/* display and z-index for the sub-menus */
#Main_Menu li:hover ul,
#Main_Menu li.msieFix ul 
{
  display:block;
  z-index:990;
  top:2.5em !important;
}

/* safari: users can keep sub-menus up by from sub-menus to next top level  */
/* didn't find a solution for users going back from the last one. I prefer  */
/* to leave it like that vs. taking the last sub-menu *out of* the wrapper  */
#Main_Menu li#Command {z-index:101;}

/* Curent location - class on Body must match LI's id */
.Command #Main_Menu li#Command a
 {color:#000;}

/* Keeping curent menu accessible to JAWS */
.Command #Main_Menu li#Command ul
{display:block;top:-1000px}


/* "trigger" and "msieFix" classes */
#Main_Menu li.msieFix a {}

/* last nested UL. keeping it in */
#Main_Menu li#TAU ul /*{left:-2.3em !important;}*/

/* If JS is OFF we need to style the links in the sub-menu of the curent page     */
/* so they are accessible to keyboard users. Using a class on each link would let  */
/* us stick each link in the same place, but we would have to plug a lot of        */
/* attributes in the markup and many rules here, so...                             */
.Command #Main_Menu li#Help ul li a:focus,
.Command #Main_Menu li#Help ul li a:active
 {position:absolute !important;top:1028px !important;}
